.build/
.camp/
.dart_tool/
.gradle/
.idea/
.ipynb_checkpoints/
.next/
.nitro/
.output/
.pixi/
.settings/
.storybook-static/
.tanstack/
.venv/
.virtual_documents/
__pycache__/
build/
dist/
node_modules/
target/

*.db
*.db-journal
*.gen.ts
*.pyd
.classpath
.env
.project
Cargo.lock
next-env.d.ts
pixi.lock
pnpm-lock.yaml
pubspec.lock
uv.lock

**/.vercel/**
!**/.vercel/output/
!**/.vercel/output/config.json
