__pycache__/
.build/
.camp/
.ipynb_checkpoints/
.nitro/
.output/
.storybook-static/
.tanstack/
.venv/
.virtual_documents/
node_modules/
target/

.env
.jupyter_ystore.db
*.gen.ts
*.pyd
Cargo.lock
pixi.lock
pnpm-lock.yaml
uv.lock

**/.vercel/**
!**/.vercel/output/
!**/.vercel/output/config.json
