html {
  font-size: 100%;
}

.marimo-cell.interactive:focus-within {
  top: 0;
  left: 0;
}

#root .cm-tooltip-autocomplete > ul > li {
  height: 24px;
}

#root .cm-completionIcon {
  width: 1.0625rem;
  font-size: 100%;
}

#root .cm-completionLabel {
  font-size: 0.875rem;
}

.cm-tooltip .docs-documentation .codehilite code {
  font-size: 0.875rem;
  line-height: 1.25;
}
