[tools]
"github:shader-slang/slang" = "2025.24.2"
"github:uutils/coreutils" = "0.5.0"
"github:yjoer/spirv-cross-builds" = "1.4.335.0"

[tasks."build:vercel"]
depends = ["build:shaders"]
env = { TSS_TARGET = "vercel" }
run = "pnpm vite build"

[tasks."build:shaders"]
depends = ["build:triangle", "build:rectangle"]

[tasks."build:triangle"]
run = [
  "coreutils mkdir -p .build",
  """
  slangc shaders/triangle.slang -target spirv -o .build/triangle_vert.spv -entry vs_main
  """,
  """
  spirv-cross .build/triangle_vert.spv --es --version 300 --stage vert --output .build/triangle.vert
  """,
  """
  slangc shaders/triangle.slang -target spirv -o .build/triangle_frag.spv -entry fs_main
  """,
  """
  spirv-cross .build/triangle_frag.spv --es --version 300 --stage frag --output .build/triangle.frag
  """,
]

[tasks."build:rectangle"]
run = [
  "coreutils mkdir -p .build",
  """
  slangc shaders/rectangle.slang -target spirv -o .build/rectangle_vert.spv -entry vs_main
  """,
  """
  spirv-cross .build/rectangle_vert.spv --es --version 300 --stage vert --output .build/rectangle.vert
  """,
  """
  slangc shaders/rectangle.slang -target spirv -o .build/rectangle_frag.spv -entry fs_main
  """,
  """
  spirv-cross .build/rectangle_frag.spv --es --version 300 --stage frag --output .build/rectangle.frag
  """,
]
