name: Build SPIRV-Cross

on:
  workflow_dispatch:

env:
  VERSION: 1.4.328.1

jobs:
  build-spirv-cross:
    name: Build SPIRV-Cross
    runs-on: windows-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v5
        with:
          repository: KhronosGroup/SPIRV-Cross
          ref: vulkan-sdk-${{ env.VERSION }}
      - name: Configure
        run: |
          cmake `
          -G Ninja `
          -DCMAKE_INSTALL_PREFIX="../build/install" `
          -DCMAKE_BUILD_TYPE=Release `
          -DCMAKE_C_COMPILER=clang `
          -DCMAKE_CXX_COMPILER=clang++ `
          -DSPIRV_CROSS_STATIC=ON `
          -DSPIRV_CROSS_CLI=ON `
          -S . `
          -B ../build
      - name: Build and Install
        run: cmake --build ../build --target install
      - name: Package
        run: tar -acvf spirv-cross-windows-x64.zip -C ../build/install *
      - name: Release
        run: |
          gh release create ${{ env.VERSION }} --draft --title ${{ env.VERSION }}
          gh release upload ${{ env.VERSION }} spirv-cross-windows-x64.zip
          gh release edit ${{ env.VERSION }} --draft=false
        env:
          GH_REPO: yjoer/spirv-cross-builds
          GH_TOKEN: ${{ secrets.GITHUB_TOKEN }}
