on:
  workflow_call:

jobs:
  format-rs:
    name: Format Rust
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4
      - name: Install Nightly Rustfmt
        run: rustup component add rustfmt --toolchain nightly
      - name: Check Versions
        run: |
          cargo --version
          cargo +nightly fmt --version
      - name: Check Formatting
        run: cargo +nightly fmt --all --check
