on:
  workflow_call:

jobs:
  format-py:
    name: Format Python
    if: false
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4
      - name: Setup Ruff
        uses: astral-sh/ruff-action@v3
      - name: Check Formatting
        run: ruff format --check .
      - name: Check Import Ordering
        run: ruff check --select I .

  lint-py:
    name: Lint Python
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4
      - name: Setup Ruff
        uses: astral-sh/ruff-action@v3
      - name: Lint
        run: ruff check .
